

.sequencer {
  border-radius: 5px;
  width: fit-content;
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: fit-content;
  margin: auto;
}

.note {
  border-radius: 5px;
  height: 4em;
  width: 4em;
  border-style: solid;
  border-width: 1px;
  border-color: lightgray;
  margin: 2px;
  outline: none;
}

.sequencer-row {
  display: inline-block;
  white-space: nowrap;
}

.note-is-active {
  background-color: green;
  border: 1px solid black;
}

.note-not-active {
  background-color: solid grey;
}

.toggle-play {
  display: flex;
}

.play-button {
  margin: auto;
}

